<template name="home">
  {{#if currentUser}}
    <h1>Hello {{currentUser.username}}</h1>
  {{else}}
    <h1>You're not logged in</h1>
    <p><a href={{pathFor route='login'}}>Login</a></p>
    <p><a href={{pathFor route='register'}}>Register</a></p>
  {{/if}}
</template>